<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-hover">
            <h1>Top 10 <span class="text-primary">Cryptocurrencies </span> by Market Cap.</h1>
            <thead>
                <tr>
                    <th scope="col">Rank (#)</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price ($)</th>
                    <th scope="col">Market Cap. ($)</th>
                </tr>
            </thead>
            {{#each data as |cryptocurrency| }}
            <tbody>
                <tr>
                    <th scope="row">{{cryptocurrency.market_cap_rank}}</th>
                    <td><a href="/search/{{cryptocurrency.id}}"> <img class="img-icon" src="{{cryptocurrency.image}}"
                                alt="">{{cryptocurrency.name}}
                            ({{cryptocurrency.symbol}})</a>
                    </td>
                    <td>$ {{ toPrecision cryptocurrency.current_price 7}}</td>
                    <td>$ {{addCommas (toPrecision cryptocurrency.market_cap 12)}}</td>
                </tr>

            </tbody>
            {{/each}}
        </table>

    </div>
</div>