
    <div class="container mt-5">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Market Cap.</th>
                </tr>
            </thead>
            {{#each cryptocurrencies as |cryptocurrency| }}
            <tbody>
                <tr>
                    <th scope="row">{{cryptocurrency.rank}}</th>
                    <td>Bitcoin (BTC) {{cryptocurrency.name}}{{cryptocurrency.symbol}} </td>
                    <td>50,540.80 {{cryptocurrency.stat.price}}</td>
                    <td>54325234643{{cryptocurrency.stat.market_cap}}</td>
                </tr>
                
            </tbody>
            {{/each}}
        </table>
    </div>

    <script src="./js/homepage.js"></script>
    
