<div class="card">
  <div class="card-header">
    {{name}} <span id="crypto-symbol" data-symbol = {{symbol}}>({{symbol}})</span>
    <span id="crypto-cmc" data-rank = {{rank}}>Rank # {{rank}}</span> 
  </div>
  <div class="card-body">
    <h5 class="card-title" id="crypto-name" data-name = {{name}}>{{name}}</h5>
    <p class="card-text" id="crypto-price" data-price = {{current_price}}> Price: $ {{addCommas current_price}}</p>
    <p class="card-text" id="crypto-mc" data-mc = {{market_cap}}>MarketCap: $ {{addCommas market_cap}}</p>
    <p class="card-text" id="crypto-circ-supply" data-cs = {{current_supply}}>Circulating Supply: {{addCommas current_supply}}</p>
    <p class="card-text" id="crypto-total-supply" data-ts = {{total_supply}}>Total Supply: {{addCommas total_supply}}</p>
    <p class="card-text" id="crypto-max-supply" data-ms = {{max_supply}}>Max Supply: {{addCommas max_supply}}</p>
    <button href="/watchlist" type="submit" class="btn btn-info" id="watchlist-btn">Add to your Watchlist</button>
  </div>
</div>


<script src="/js/watchlist.js"></script>