<div class="card">
  <div class="card-header">
    {{name}} {{symbol}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{name}}{{rank}}</h5>
    <p class="card-text">{{cryptocurrency.stat.price}}</p>
    <p class="card-text">{{cryptocurrency.stat.market_cap}}</p>
    <p class="card-text">{{cryptocurrency.stat.circulating_supply}}</p>
    <p class="card-text">{{cryptocurrency.stat.max_supply}}</p>
    <button href="/watchlist" type="submit" class="btn btn-info">Add to your Watchlist</button>
  </div>
</div>
