
    <div class="container mt-5">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Market Cap.</th>
                    <th scope="col">circulating_supply</th>
                    <th scope="col">max_supply</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {{#each cryptocurrencies as |cryptocurrency| }}
            <tbody>
                <tr>
                    <th scope="row">{{cryptocurrency.rank}}</th>
                    <td>{{cryptocurrency.name}} ({{cryptocurrency.symbol}}) </td>
                    <td> {{cryptocurrency.price}}</td>
                    <td>{{cryptocurrency.market_cap}}</td>
                    <td>{{cryptocurrency.circulating_supply}}</td>
                    <td>{{cryptocurrency.max_supply}}</td>
                    <td> <button class="btn-danger rounded" id="delete-btn">Delete</button></td>
                </tr>
                
            </tbody>
            {{/each}}
        </table>
    </div>

    <script src="/js/delete.js"></script>